<div class="pattern"></div>
<div class="band"></div>
<span class="bg-text">Future</span>
<img class="big-image circle mat-elevation-z10" src="/assets/vr-journey-hero.png">
<img class="small-image circle mat-elevation-z10" src="/assets/0x0.jpg">
<div class="video-wrapper"><iframe class="video mat-elevation-z10" width="560" height="315" src="https://www.youtube.com/embed/7UvfmvMU3Vc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<h2 class="title">The best way to predict <br>the <span class="gradient">future</span> is to <span class="gradient">create it</span></h2>